html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.small {
  font-size: 1em;
  margin: 60px 50px 30px 50px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 8em;
  font-weight: 900;
  margin: -56px 50px 0px 50px;
}

.large {
  font-size: 2em;
  margin-top: -6px;
}

.overlay {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100%;
	top: 0px;
	right: 0px;
  background-image: linear-gradient(to bottom right,#f4429b,#0ec3d3);
	opacity: 0.5;
}

.header {
  z-index: 2000;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: 0.5em;
  top: 25%;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.form {
  position: absolute;
  display: block;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.bg-img {
  z-index: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: url('img/linapacan.png') center center no-repeat;
  background-size: cover;
}

input[type*="text"], select {
    font-size: 1em;
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    font-size: 1em;
    width: 25%;
    background-color: #f78f62;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #f47741;
}
